<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visualize Your Git!</title>
    <link rel="stylesheet" href="/static/style.css">
    {% block meta %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <h1><a href="/">Visualize Your Git!</a></h1>
            <ul>
                <li><a href="http://jvns.ca">By Julia Evans</a></li>
                <li><a href="http://github.com/jvns/git-workflow"><img src="/static/images/GitHub-Mark-32px.png" alt="GitHub"></a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
