{% extends "base.html" %}

{% block meta %}
<meta property="og:image" content="https://gitviz.jvns.ca{{ url_for('serve_image_sparse', num=num) }}">
{% endblock %}

{% block content %}
<p>
  An arrow from 'commit' to 'push' means that you did 'git commit' right before
  'git push'. Thicker arrows happened more times.
</p>

<h2>
  Sparse version <small>(only has the most used arrows)</small>
</h2>

<div class="image sparse">
  <img src="/image/sparse/{{ num }}/git-workflow.png">
</div>

<h2> Full version </h2>
<div class="image">
  <img src="/image/{{ num }}/git-workflow.png">
</div>
{% endblock %}
