<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Visualize your Git!</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #history {
            height: 400px;
        }
    </style>
</head>
<body>
  <div class="container">
    <h2> hey there!</h2>
  </div>
  <div class="container">
    <div class="col-md-3">
      <h3>
        Your history
      </h3>
      <form id="historyform">
        <textarea name="history" id="history" class="form-control" rows="20"></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-md-9">
      <h3 align="center">
        Your image
      </h3>
      <div id="image"> </div>
    </div>
  </div>
</body>
<script>
$('document').ready(function() {
    $('#historyform').on('submit', function(event) {
        var history = $('#history')[0].value;
        var post_data = {'history': history};
        console.log(post_data);
        $.post("/graph", post_data, function(response) {
            console.log(response["graph"]);
            img = $("<img class='img-responsive' src='data:image/png;base64," + response['graph'] + "'>");
            $('#image').html(img);
        })
        event.preventDefault();
    });
});
</script>
</html>
