<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Visualize your Git!</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #history {
            height: 400px;
        }
        svg {
            width: 100%;
        }
    </style>
</head>
<body>
<a href="https://github.com/jvns/git-workflow"
    class="banner"><img style="position: absolute; top: 20; right: 0;
    border: 0; z-index:100;"
    src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"
    alt="Fork me on GitHub"></a>

  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Git workflow visualization</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
  
      <li><a href="http://jvns.ca">By Julia Evans</a></li>
      <li><a href="http://twitter.com/b0rk"><img src="https://g.twimg.com/Twitter_logo_blue.png" width="20px"></a></li>
      <li><a href="http://github.com/jvns"><img src="/static/images/GitHub-Mark-32px.png" width="20px"></a></li>
      <li style="width: 120px;"></li>
    </ul>
  </div>

  <div class="container">
    <div class="col-md-12">
      <p>
    Run the following command and paste the results into the textarea to
    get a visualization of your git workflow! If you have 
    aliases, try replacing <code>history</code> with <a
      href="https://gist.github.com/mwhite/7509467">this script</a>.
    </p>
    
    <p>
    Can't do it? See <a href="/display/2">my workflow </a>
    </p>
    <pre> history | awk '$2 == "git" {print $1 " " $3}' > history.txt </pre>
    The result is a graph of which commands you use after other
    commands. For example, if you always push after committing, there
    will be a big arrow from 'commit' to 'push'.
    </div>
  </div>
  <div class="container">
    <div class="col-md-3">
      <h3>
        Your history
      </h3>
      <form id="historyform">
        <textarea name="history" id="history" class="form-control" rows="20"></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-md-9">
      <h3 align="center">
        How you use Git <span id="permalink"> </span>
      </h3>
      <div id="image"> </div>
    </div>
  </div>
</body>
<script>
$('document').ready(function() {
    $('#historyform').on('submit', function(event) {
        var history = $('#history')[0].value;
        var post_data = {'history': history};
        console.log(post_data);
        $.post("/graph", post_data, function(response) {
            var svg = response["graph"];
            $('#image').html(svg);
            var id = response["id"];
            var permalink_url = "/display/" + id;
            var permalink = $("<a href='" + permalink_url + "'> (permalink) </a>")
            $('#permalink').html(permalink);
        })
        event.preventDefault();
    });
});
</script>
</html>
